@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
body
{
    font-family: "Jersey 10", sans-serif;
    background-color: #77acd4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container
{
    text-align: center;
    background-color: #262161;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
h1
{
    font-size: 50px;
    color: #b6d8ff;
    margin-bottom: 20px;
    width: 100%;
}
.buton
{
    background-color: #31659f;
    font-family: "Jersey 10", sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 120px;
    border: none;
    border-radius: 10px;
    font-size: 0px;
    fill-opacity: 100%;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}
.buton:hover
{
    transform: scale(1.05);
    font-size: 30px;
    font-weight: bold;
}
.buton img
{
    position: absolute;
    width: 300px;
    height: 200px;
    object-fit: cover;
    z-index: 1;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    animation: none;
}
.buton img[src="images/pixel.gif"]
{
    filter: invert(1);
}
.buton img[src="images/qr.gif"]
{
    position: absolute;
    width: 150px;
    height: 150px;
}
.buton img[src="images/editText.gif"]
{
    position: absolute;
    width: 200px;
    height: 200px;
}
.buton img[src="images/todo.gif"]
{
    position: absolute;
    width: 300px;
    height: 120px;
}
.buton img[src="images/translate.gif"]
{
    position: absolute;
    width: 150px;
    height: 150px;
}
.buton img[src="images/screen.gif"]
{
    position: absolute;
    width: 200px;
    height: 200px;
}
.buton img[src="images/coin.gif"]
{
    position: absolute;
    width: 200px;
    height: 200px;
}
.buton img[src="images/password.gif"]
{
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
    z-index: 1;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    animation: none;
    transform: rotate(90deg);
}
.buton img[src="images/charge.gif"]
{
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
    z-index: 1;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    animation: none;
    transform: rotate(90deg);
}
.buton:hover img
{
    opacity: 0.05;
}
.buton span
{
    position: relative;
    z-index: 2;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
a
{
    text-decoration: none;
}
@media (max-width: 768px)
{
    .buton
    {
        width: 100%;
        font-size: 16px;
        height: auto;
        padding: 15px;
    }
}
